<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="5.11.2" targetFramework="net461" />
  <package id="Catel.MVVM" version="5.11.2" targetFramework="net461" />
  <package id="ControlzEx" version="4.1.0" targetFramework="net461" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.6.0" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="7.0.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.0.0-alpha0490" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.6.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.6.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net461" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2013" version="2.9.0.1" targetFramework="net461" />
</packages>